.button {
    -fx-font-size: 10pt;
    -fx-font-family: "Courier New";
    -fx-base: rgb(255, 255, 255);
    -fx-background: rgb(225, 228, 203);
}
.label {
    -fx-font-size: 10pt;
    -fx-font-family: "Courier New";
    -fx-text-fill: rgb(255,255,255);
    -fx-base: rgb(255, 255, 255);
    -fx-background: rgb(225, 228, 203);
}

